Makefile.in
aclocal.m4
autom4te.cache/
configure
scsilib/
*.o
.deps/
Makefile
*.a
*~
trackdb/TocLexer*
trackdb/TocParser*.h
trackdb/TocParser*.cpp
specs/*.spec
config.h
config.log
config.status
dao/cdrdao
pccts/antlr/antlr
pccts/dlg/dlg
stamp-h1
utils/cue2toc
utils/toc2cddb
utils/toc2cue
xdao/gcdmaster.schemas
